.cardB {
  height: 95vh;
  width: 100%;
  background-color: #f1fef4;
  display: flex;

  .hero-left {
    width: 45%;
    height: 100%;
  }

  .hero-left img {
    width: 100%;
    height: 100%;
  }

  .hero-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;

    ul {
      height: 25%;
      gap: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style-type: none;
    }
  }
}

@media (max-width: 1000px) {
  .cardB {
    height: 95vh;
    width: 100%;
    background-color: #f1fef4;
    display: flex;
    flex-direction: column;

    .hero-left {
      width: 100%;
      height: 100%;
    }

    .hero-left img {
      width: 100%;
      height: 100%;
    }
    .hero-right {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      ul {
        height: 18%;
        gap: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
      }
    }
  }
}
