.cardcontainer {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .text {
    height: 10vh;
    width: 100%;
    & h1 {
      font-size: 48px;
      @media (max-width: 1000px) {
        font-size: auto;
      }
    }
  }
}

.cardholder {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
